.tab-container {
  display: block;
  margin: 0 auto;
  max-width: 144rem;
  margin-top: 6rem;
  height: fit-content;
  /* background-color: red; */
  /* padding: 2rem; */
}

.services-button-container {
  display: flex;
  gap: 21.1rem;
  /* background-color: red; */
  padding: 5rem;
}

.service-button-contained {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
  /* background-color: red; */
}

.service-btn {
  /* background-color: transparent; */
  /* filter: brightness(50); */
  border: 1px solid #fff;
  padding: 3rem 3rem;
  border-radius: 43%;
  cursor: pointer;
  width: 73%;
}

.service-btn-text {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
}

.Service-content {
  margin-top: 7rem;
}

.player-container {
  display: flex;
  align-items: center;
}

.player {
  width: 70%;
}

.player-text {
  width: 60%;
  color: #ffffff;
  font-size: 2.2rem;
  text-align: left;
  font-style: italic;
}
