.tab-container {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  /*height: 100dvh;*/
  /* background-color: red; */
  /* padding: 2rem; */
}


.service-button-contained {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
  /* background-color: red; */
}

.service-btn {
  cursor: pointer;
}

.service-btn-active {
  cursor: pointer;
  filter: brightness(180%);
}

.service-btn img {
  /* background-color: transparent; */
  /* filter: brightness(50); */
  padding: 3rem 3rem;

  cursor: pointer;
  width: 100%;
}

.Service-content {
  margin-top: 7rem;
}


/*.player {*/
/*  width: 70%;*/
/*}*/

.player-text {
  color: #ffffff;
  line-height: 2;
  font-size: 1.4rem;
  text-align: left;
  font-style: italic;
}
