.services-section-2 {
  margin: 5rem auto;
  width: 100vw;
  max-width: 1270px;
}

.services-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;

  /* gap: 8rem; */
  padding: 2rem;
  justify-content: space-around;
}

.services-text-box {
  /*flex: 0 0 40%;*/
}

.services-primary-text {
  color: #3f3350;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.services-secondary-text {
  color: #707070;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.Smarterway-img {
  flex: 1;
  width: 100%;
}


@media (max-width: 32.5em) {
  .services-section-2 {
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 0rem;
    padding: 2rem 7rem;
  }
  .services-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11rem;
  }

  .services-primary-text {
    font-size: 7rem;
  }
  .services-secondary-text {
    font-size: 3.7rem;
    width: 100%;
    margin-bottom: 6rem;
  }

  .cta-btn:link {
    font-size: 5rem;
  }
}
