.CookingModalContainer {
  width: 50dvw;
  height: 76dvh;
  border-radius: 10px;
  background-image: linear-gradient(#3f3d56, #0d0c11);
  box-shadow: 0 2rem 4rem rgba(black, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 4rem;
  font-family: Montserrat;
  text-align: center;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -50%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

.cooking-header {
  font-size: 4rem;
  color: #ff7043;
  font-weight: 600;
  margin-top: 1rem;
}

.cooking-secondary {
  font-size: 1.4rem;
  color: #f5f5f5;
  font-weight: 400;
  height: 4.1rem;
  width: 55rem;
}

.Cookingname-container {
  display: flex;
  gap: 4rem;
}

.cooking-name-contained {
  text-align: left !important;
}

.cooking-name-label {
  color: #f5f5f5;
  font-size: 1.6rem;
  font-weight: 100;
}

.cooking-name-input {
  width: 100%;
  height: 4rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.9rem;
  font-family: inherit;
}

.cooking-email-label {
  color: #f5f5f5;
  font-size: 1.6rem;
  font-weight: 100;
}

.cooking-email-div {
  display: grid;
  gap: 0.5rem;
  text-align: left !important;
}

.cooking-email-input {
  width: 100%;
  height: 4rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 0.5rem;
  margin-bottom: 2.9rem;
  font-family: inherit;
}

.cooking-submit {
  width: 100%;
  background-color: #ff7043;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 2.6rem 1.7rem 1.7rem 2.6rem;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

/*
/* laptop screen */

@media (max-width: 108em) {
  .CookingModalContainer {
    width: 70%;
    height: 83%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 4rem;
  }
}

@media (max-width: 64em) {
  .CookingModalContainer {
    width: 70%;
    height: 47.6rem;
    padding: 9rem;
  }
}
/*
  .cooking-header {
    font-size: 5.5rem;
  }

  .cooking-secondary {
    font-size: 2rem;
    height: 4.1rem;
    width: 75rem;
    margin-bottom: 1.5rem;
  }

  .cooking-name-label {
    font-size: 2.5rem;
  }

  .cooking-email-label {
    font-size: 2.5rem;
  }
}  */

/* tablet */
@media (max-width: 48em) {
  .CookingModalContainer {
    width: 70%;
    height: 83%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 4rem;
  }

  .cooking-header {
    font-size: 2.5rem;
  }
  .cooking-secondary {
    margin-top: 0;
    font-size: 1rem;
    height: 4.1rem;
    width: 29rem;
    margin-bottom: 0.5rem;
  }

  .Cookingname-container {
    gap: 2rem;
    display: flex;
    flex-direction: column;
  }

  .cooking-name-contained {
    display: flex;
    flex-direction: column;
  }

  .cooking-name-label {
    font-size: 2rem;
  }

  .cooking-name-input {
    width: 100%;
    height: 3rem;
  }

  .cooking-email-label {
    font-size: 2rem;
  }

  .cooking-email-div {
    margin-top: 3rem;
  }

  .cooking-email-input {
    width: 100%;
    height: 3rem;
  }

  .cooking-submit {
    margin-top: 2rem;
    font-size: 6rem;
    height: 15rem;
  }
}
/* ////////////////////////////////// */
@media (max-width: 43.125em) {
  .CookingModalContainer {
    width: 70%;
    height: 83%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 1rem 0;
  }

  .cooking-header {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .cooking-secondary {
    font-size: 0.8rem;
    color: #f5f5f5;
    font-weight: 400;
    height: 1rem;
    width: 13rem;
    margin-top: 1rem;
  }
}
/*
  .cooking-header {
    font-size: 8.5rem;
  }
  .cooking-secondary {
    margin-top: 4rem;
    font-size: 4rem;
    height: 4.1rem;
    width: 75rem;
    margin-bottom: 0;
  }

  .Cookingname-container {
    gap: 5rem;
    display: flex;
    flex-direction: column;
  }

  .cooking-name-label {
    font-size: 7rem;
  }

  .cooking-name-input {
    width: 100%;
    height: 10rem;
  }

  .cooking-email-label {
    font-size: 7rem;
  }

  .cooking-email-div {
    margin-top: 5rem;
  }

  .cooking-email-input {
    width: 100%;
    height: 10rem;
  }

  .cooking-submit {
    margin-top: 8rem;
    font-size: 6rem;
    height: 15rem;
  }
} */
