.hero {
  background-image: linear-gradient(#3f3d56, #0d0c11);
  /* height: 80rem; */
  padding-left: 3rem;
  height: calc(100dvh - 50px);
  /* remember to do css for mobile view */
  /* could be reworked */
}

.hero-container {
  margin-top: 4.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.hero-container-1 {
  /* padding: 0 7.8rem; */
  margin-top: 4.3rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  /* gap: 6.4rem; */
  margin: 0 auto;
  /* background-color: red; */
}

.hero-container__text-box {
  /* max-width: 60rem; */
  /* background-color: red; */
  margin-top: 5rem;
  margin-left: 7.8rem;
  /* width: 56.7rem; */
}

.mobile-br {
  display: none;
}

.fig {
  color: #ff7043;
  display: inline-block;
}

.hero-container__text-box-heading-primary {
  font-size: 2.5rem;
  line-height: 1.4;
  color: #fcfbfa;
  margin-bottom: 1.6rem;
  text-align: left;
  letter-spacing: 0;
  font-weight: 600;
}

.hero-container__text-box-heading-secondary {
  margin-bottom: 3rem;
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
}

.cta-btn-1:link,
.cta-btn-1:visited {
  /* color: #F07E61; */
  padding: 1.5rem 2rem 1.6rem 1.9rem;
  background-color: #f07e61;
  border-radius: 33px;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-style: inherit;
  /* margin-top: 2.3rem; */
  cursor: pointer;
  font-weight: 400;
}

.hero-container__img-box {
  /* background-color: blue; */
}

.hero-img {
  width: 100%;
}

/* ******************************************* */
/* ******************************************* */
/* POP UP */

/* .popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.8);
  z-index: 99999;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(black, 0.3);
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup-content {
  width: 75%;
  height: 60rem;
  background-color: #fff8e1;
  box-shadow: 0 2rem 4rem rgba(black, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  display: flex;
  overflow: hidden;
  opacity: 1;
  transition: all 0.3s 0.2s;
}

.popup-left {
  width: 33.3333333%;
  align-self: center;
}

.popup-right {
  width: 66.666667%;
  background-image: linear-gradient(#3f3d56, #0d0c11);
  height: auto;
  padding: 10rem 17rem;
}

.popup-logo {
  width: 20%;
}

.popup-heading {
  color: #fcfbfa;
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 600;
}

.popup-form {
  margin-top: 3.2rem;
}

.popup-label-container {
  display: flex;
  gap: 17rem;
  margin-bottom: 0.8rem;
}

.popup-input-container {
  display: flex;
  gap: 2rem;
}

.popup-name-input {
  width: 24rem;
  height: 4rem;
  border-radius: 3px;
  border: none;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.9rem;
}

.popup-name-label {
  color: #f5f5f5;
  font-size: 1.6rem;
  font-weight: 300;
}

.popup-email-div {
  display: grid;
  gap: 0.9rem;
}

.popup-email-input {
  width: 50rem;
  height: 4rem;
  border-radius: 3px;
  border: none;
  padding: 0.5rem 0.5rem;
  margin-bottom: 4.7rem;
}

.popup-submit {
  width: 51rem;
  background-color: #f07e61;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 2.6rem 1.7rem 1.7rem 2.6rem;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 600;
} */

/* ******************************************* */
/* ******************************************* */
/* Media Queries */

@media (max-width: 81.25em) {
  .hero-container__text-box-heading-primary {
    font-size: 4rem;
  }
}

@media (max-width: 53.75em) {
  .hero {
    height: auto;
  }

  .hero-container__text-box-heading-primary {
    font-size: 3.5rem;
  }

  .hero-container__text-box-heading-secondary {
    font-size: 1.4rem;
  }

  .tab-br {
    display: none;
    visibility: none;
  }
}

@media (max-width: 35.625em) {
  .hero-container-1 {
    display: flex;
    flex-direction: column;
  }

  .hero-container__text-box-heading-primary {
    font-size: 10.5rem;
  }

  .hero-container__text-box-heading-secondary {
    font-size: 3.4rem;
    margin-bottom: 8rem;
  }

  .hero-img {
    width: 94%;
    margin-left: 6rem;
  }

  .hero-container__text-box {
    /* max-width: 60rem; */
    /* background-color: red; */
    margin-top: 5rem;
    margin-left: 0;
    width: auto;
  }

  .cta-btn-1:link,
  .cta-btn-1:visited {
    /* color: #F07E61; */
    /* padding: 1.5rem 2rem 1.6rem 1.9rem; */
    padding: 3.3rem 4.6rem;
    background-color: #f07e61;
    border-radius: 33px;
    text-decoration: none;
    color: #fff;
    font-size: 4.4rem;
    /* margin-top: 2.3rem; */
    cursor: pointer;
    font-weight: 400;
  }
}
