.modalOverlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(8px); */
  z-index: 9999;
}

.popup-img{
  height: 300px;
  width: auto;
  position: absolute;
  top:60px;
}

.modalContainer {
  width: 750px;
  height: auto;
  border-radius: 10px;
  background-image: linear-gradient(#3f3d56, #0d0c11);
  box-shadow: 0 2rem 4rem rgba(black, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
}

.closeBtn {
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  /* border: 0.4px solid black; */
  position: fixed;
  top: -3rem;
  right: -2rem;
  cursor: pointer;

  img{
    height: 1rem;
    width: auto;
  }
}

.modal-Left {
  background-color: #fff8e1;
  height: 100%;
  position: relative;
}

.modalImg {
  /*position: absolute;*/
  right: 0;
  width: 100%;
}

.modal-Right {
  padding: 40px 60px;
}

/* pop up css */
.popup {
  /*height: 100vh;*/
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 99999; */

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(black, 0.3);
}

/* .popup:target {
  opacity: 1;
  visibility: visible;
} */

.popup-content {
  /*width: 75%;*/
  /*height: 60rem;*/
  background-color: #fff8e1;
  box-shadow: 0 2rem 4rem rgba(black, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  display: flex;
  /* align-items: center; */
  overflow: hidden;
  opacity: 1;
  /* transform: translate(-50%, -50%) scale(0.25); */
  transition: all 0.3s 0.2s;
}

.popup-left {
  width: 33.3333333%;
  align-self: center;
}

.popup-right {
  background-image: linear-gradient(#3f3d56, #0d0c11);
  height: auto;
}

.popup-logo {
  width: 25%;
  margin-bottom: 2rem;
}

.popup-heading {
  color: #fcfbfa;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
}

.popup-form {
  margin-top: 2rem;
}

.name-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.named-container {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  width: 100%;
}

.popup-label-container {
  display: flex;
  /*gap: 18rem;*/
  margin-bottom: 0.8rem;
}

.popup-input-container {
  display: flex;
  gap: 2rem;
}

.popup-name-input {
  width: 100%;
  border-radius: 3px;
  border: none;
  padding: .8rem;
  margin-bottom: 1rem;
  font-family: inherit;
}

.popup-name-label {
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: 300;
}

.popup-email-div {
  display: grid;
  gap: 0.9rem;
}

.popup-email-input {
  width: 100%;
  border-radius: 3px;
  border: none;
  padding: .8rem;
  margin-bottom: 2rem;
  font-family: inherit;
}

.popup-submit {
  width: 100%;
  background-color: #f07e61;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

/* ************************************** */

@media (max-width: 98.75em) {
  .popup-label-container {
    /*gap: 13rem;*/
  }
}

@media (max-width: 90.625em) {
  .popup-label-container {
    gap: 2rem;
  }
}

@media (max-width: 85.9375em) {
  .popup-img {
    /*width: 148%;*/
  }

  .modalImg {
    position: absolute;
    top: 12rem;
    right: 0;
    width: 100%;
  }

  .modal-Right {
    width: 75%;
    padding: 0rem 11rem;
  }
}

@media (max-width: 74.125em) {
  .popup-img {
    /*width: 148%;*/
  }

  .modalImg {
    position: absolute;
    top: 17rem;
    right: 0;
    width: 100%;
  }

  .modal-Right {
    width: 75%;
    padding: 0rem 8rem;
  }
}

@media (max-width: 43.125em) {
  .popup-img {
  }

  .modalImg {
    position: absolute;
    top: 17rem;
    right: 0;
    width: 100%;
  }

  .modal-Right {
    width: 75%;
    padding: 0rem 8rem;
  }
  .popup-heading {
    font-size: 1.5rem;
  }

  .popup-label-container {
    gap: 14rem;
  }

  .popup-name-label {
    font-size: 1rem;
  }
}

@media (max-width: 35.625em) {
  .modalContainer {
    width: 90%;
    height: 80rem;
  }

  .popup-img {
    /*width: 136%;*/
  }

  .modal-Left {
    background-color: #fff8e1;
    height: 100%;
    position: relative;
    width: 0;
  }

  .modalImg {
    position: absolute;
    top: 17rem;
    right: 0;
    width: 100%;
  }

  .modal-Right {
    width: 100%;
    padding: 0rem 8rem;
  }
  .popup-heading {
    font-size: 1.5rem;
  }

  .popup-label-container {
    gap: 32rem;
  }

  .popup-name-label {
    font-size: 1rem;
  }
  .name-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .popup-name-label {
    font-size: 1rem;
  }
  .popup-name-input {
    /*height: 6.5rem;*/
  }

  .popup-email-input {
    height: 6.5rem;
  }
}

@media (max-width: 35.625em) {
  .modalContainer {
    width: 90%;
    height: 100rem;
  }
}
