.header {
  /* background-image: linear-gradient(#3f3d56, #0d0c11); */
  /* justify-content: space-between; */
  align-items: center;
  /* color: #ffffff; */
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;

  padding: 0 6.8rem;
  padding-top: 2.6rem;

  display: flex;
  /* gap: 54rem; */
  justify-content: space-between;
  /* justify-items: auto;  */
}

.logo {
  height: 3.8rem;
}

.main-nav {
  height: 3.2rem;
}

.main-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav__link:link,
.main-nav__link:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  /* text-transform: uppercase; */

  transition: all 0.3s;
}

.main-nav__link:hover,
.main-nav__link:active {
  color: #f07e61;
}

/* Media Queries */
@media (max-width: 43.125em) {
  .main-nav__list {
    display: none;
  }
}
