.header {
  /* background-image: linear-gradient(#3f3d56, #0d0c11); */
  /* justify-content: space-between; */
  align-items: center;
  /* color: #ffffff; */
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;

  padding: 0 6.8rem;
  padding-top: 2.6rem;

  display: flex;
  /* gap: 54rem; */
  justify-content: space-between;
  /* justify-items: auto;  */
}

.logo {
  height: 3.8rem;
}

.main-nav {
  height: 3.2rem;
}

.main-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav__link:link,
.main-nav__link:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  /* text-transform: uppercase; */

  transition: all 0.3s;
}

.main-nav__link:hover,
.main-nav__link:active {
  color: #f07e61;
}

.mobile-button {
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  z-index: 9999;

  display: none;
}

.mobile-open {
  height: 4rem;
  display: none;
}

.mobile-close {
  height: 2.5rem;
  display: none;
  /* visibility: hidden; */
}

.open-nav {
  background-color: #fff;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  transform: translateX(100%);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;

  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.nav-list-open {
  text-align: center;
  width: 100%;
  position: absolute;
  flex-direction: column;
  gap: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.main-nav .nav-list-open {
  display: flex;
}

/* &__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1300;

  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

&__list {
  @include center;
  list-style: none;
  text-align: center;
  width: 100%;
} */

/* Media Queries */
@media (max-width: 60em) {
  .main-nav__list {
    display: none;
  }
  .logo {
    height: 6.8rem;
  }

  .mobile-button {
    display: block;
  }

  .mobile-open {
    height: 4rem;
    display: block;
  }

  .main-nav .nav-list-open {
    display: flex;
    font-size: 3rem;
    top: 50%;
    left: 50%;
  }
}

@media (max-width: 27.5em) {
  .main-nav .nav-list-open {
    display: flex;
    font-size: 3.5rem;
    top: 50%;
    left: 20%;
  }
}
