.header {
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
  height: auto;
}

.main-nav {
  height: 50px;
}

.active{
  color: #f07e61;
  text-decoration: none;
  display: inline-block;
}

.main-nav__link:hover,
.main-nav__link:active {
  color: #f07e61;
}

.mobile-button {
  border: none;
  background: none;
  cursor: pointer;
  z-index: 9999;
}

.mobile-open {
  display: none;
}

.mobile-close-btn {
  display: none;
  /* visibility: hidden; */
}

.mobile-close .mobile-close-btn {
  display: block;
}

.mobile-close .mobile-open-btn {
  display: none;
}

.open-nav {
  background-color: #fff;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.nav-list-open {
  width: 100vw;
  flex-direction: column;
  gap: 2rem;
  top: 0;
  /*transform: translate(0, 40px);*/
  display: flex;
}

.main-nav .nav-list-open {
  display: flex;
  position: relative;
}


/* Media Queries */
@media (max-width: 60em) {
  .main-nav__list {
    display: none;
  }


  .mobile-button {
    display: block;
  }

}


