.section-2 {
  background-color: #fff;
  margin-bottom: 12.7rem;
  /* padding: 0rem 14rem 0rem 5rem; */
  margin: 0 auto;
}

.container {
  max-width: 130rem;
  /* padding: 0 7.2rem; */
  padding: 0 6.8rem;
  margin: 0 auto;
  margin-top: 10.5rem;
}
.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.text-box__header-primary {
  margin-top: 6rem;
  color: #3f3d56;
  font-size: 4rem;
  font-weight: 600;
  width: 50rem;
  margin-bottom: 1.6rem;
}

.text-box__header-secondary {
  color: #707070;
  font-size: 1.8rem;
  margin-bottom: 3.7rem;
}

.text-box__btn:link,
.text-box__btn:visited {
  /* color: #F07E61; */
  padding: 1.5rem 3.4rem 1.6rem 3.4rem;
  background-color: #f07e61;
  border-radius: 33px;
  text-decoration: none;
  color: #fff;
  font-size: 2.4rem;
  cursor: pointer;
  font-weight: 400;
}

.box-img-1 {
  width: 60%;
}

.box-img-2 {
  width: 100%;
}

.img-box__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border: 1px solid #f07e61;
  border-radius: 5px;
  height: 15rem;
  width: 15rem;
}

.box-icon {
}

.box-icon__text {
  color: #3f3d56;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
