

.text-box__img-container {
  /* max-width: auto; */
  display: flex;
  gap: 1rem;
  margin-left: -30px;
  justify-items: flex-start;
}

.cooking-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 6rem;
  width: 15.6rem;
}

.img-container__img {
  width: 180px;
  font-size: 1.2em;
  /* height: 6rem; */
}

