.section-4 {
  margin-top: 5.9rem;
}


.grid-section {
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.text-side{
  margin-top: -80px;
}

@media (max-width: 35.625em) {
  .b-1 {
    order: 2;
  }

  .b-2 {
    order: 1;
  }
}
