.section-3 {
  background-color: #f3f3f4;
  /* height: 100rem; */
  margin-bottom: 3rem;
  /* padding: 0rem 14rem 0rem 5rem; */
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  align-items: center;
}

.container__img-box-2 {
  margin-top: 2rem;
  justify-self: center;
}

.img {
  width: 70%;
}

.text-box__img-container {
  /* max-width: 40rem; */
  display: flex;
  gap: 2rem;
}

.img-container__img {
  width: 25%;
}

@media (max-width: 35.625em) {
  .grid {
    display: flex;
    flex-direction: column-reverse;
  }

  .img {
    width: 90%;
  }
}
