.section-3 {
  background-color: #fffcf2;
  height: 100vh;
  /* padding: 0rem 14rem 0rem 5rem; */
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  padding-block: 140px;
  margin-bottom: 0;
}

.container__img-box-2 {
  margin-top: 2rem;
  justify-self: center;
}

.img {
  width: 70%;
}

.text-box__img-container {
  /* max-width: auto; */
  display: flex;
  gap: 1rem;
  margin-left: -30px;
  justify-items: flex-start;
}

.cooking-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 6rem;
  width: 15.6rem;
}

.img-container__img {
  width: 180px;
  font-size: 1.2em;
  /* height: 6rem; */
}

@media (max-width: 35.625em) {
  .grid {
    display: flex;
    flex-direction: column-reverse;
  }

  .img {
    width: 90%;
  }

  .cooking-btn {
    width: 30.6rem;
  }
}
