.hero2 {
  height: 100dvh;
}

.hero-container {
  padding-left: 2rem;
  margin-top: 0.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-box__primary {
  font-size: 2.5rem;
  color: #3f3d56;
  line-height: 1.3;
  font-weight: 600;
}

.text-box__secondary {
  color: #3f3d56;
  font-size: 1.8rem;
  margin-top: 1.6rem;
  margin-bottom: 7rem;
}

.cta-btn:link,
.cta-btn:visited {
  /* color: #F07E61; */
  padding: 2rem 3.4rem 2rem 3.4rem;
  background-color: #f07e61;
  border-radius: 33px;
  text-decoration: none;
  color: #fff;
  font-size: 2.4rem;
  /* margin-top: 2.3rem; */
  cursor: pointer;
  font-weight: 400;
}

.spanner {
  color: #f07e61;
}

.img-box-img {
  width: 90%;
}

/* ************************************************* */
/* Media Query */

@media (max-width: 53.75em) {
  .hero-container {
    height: auto;
  }
}

@media (max-width: 76.25em) {
  .text-box__primary {
    font-size: 4rem;
  }

  .text-box__secondary {
    font-size: 1.6rem;
  }
}

@media (max-width: 32.5em) {
  .hero-container {
    padding: 0 2rem;
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
  }
  .text-box__primary {
    font-size: 10rem;
  }
  .text-box__secondary {
    font-size: 3rem;
    margin-top: 1.6rem;
    margin-bottom: 7rem;
  }

  .cta-btn:link,
  .cta-btn:visited {
    font-size: 4rem;
  }
  .img-box-img {
    width: 80%;
  }
}

@media (max-width: 27.5em) {
  .text-box__primary {
    font-size: 9rem;
  }
  .img-box-img {
    width: 70%;
  }
  .cta-btn:link,
  .cta-btn:visited {
    font-size: 5rem;
  }
}
