.carousel-1 {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  height: 60rem;
}

.slider{
  display: grid;
  grid-template-columns: 1fr 1fr;

  .slider-image {
    display: flex;
    justify-content: center;
    img{
      height: 500px;
      width: auto;
    }
  }
  .slider-text {
    position: relative;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 60px;
    background-image: linear-gradient(#3f3d56, #0d0c11);
    color: #ffffff;
    font-style: italic;
    font-weight: 400;
  }
  .indicators{
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 40px;

    span{
      display: inline-block;
      transition: all 300ms ease-in-out;
      height: 10px;
      width: 10px;
      border-radius: 100%;
      background-color: #ffffff;

      &.active{
        width: 40px;
        border-radius: 10px;
      }
    }
  }
}

.carousel-img-container {
  background-color: #fffcf2;
  padding: 12rem;
  width: 50%;
}
.carousel-img {
  width: 100%;
}

.carousel-text {}

.splide__pagination__page {
  top: -10rem;
  left: 40rem;
  height: 0.9rem;
  width: 3rem;
  border-radius: 3px;
  margin: 1rem;
  padding: 0.1rem;
}

.splide__pagination__page.is-active {
  transform: scale(1.5);
  padding: 0 3rem;
  background: #ffffff;
}

.splide__arrow--prev {
  display: none;
}

.splide__arrow--next {
  display: none;
}

/* ***************************** */
/* Media queries  */

@media (max-width: 93.25em) {
  .carousel-img-container {
    padding: 7rem;
    width: 50%;
  }

  .carousel-text {
    padding: 25rem 17.4rem;
    background-image: linear-gradient(#3f3d56, #0d0c11);
    color: #ffffff;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 400;
    width: 50%;
  }

  .splide__pagination__page {
    top: -8rem;
    left: 30rem;
    height: 0.9rem;
    width: 3rem;
    border-radius: 3px;
    margin: 1rem;
    padding: 0.1rem;
  }
}

@media (max-width: 79.375em) {
  .carousel-text {
    padding: 25rem 17.4rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 48.125em) {
  .carousel-text {
    padding: 25rem 16rem;
    font-size: 2rem;
  }
}

@media (max-width: 32.5em) {
  .carousel-1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border: 1px solid black;
    height: 100rem;
  }
  .carousel-text {
    padding: 14rem 15rem;
    font-size: 3.5rem;
    width: 100%;
    height: 100%;
  }

  .splide__pagination__page {
    top: -60rem;
    left: -5rem;
    height: 0.9rem;
    width: 3rem;
    border-radius: 3px;
    margin: 1rem;
    padding: 0.1rem;
  }
  .carousel-img-container {
    padding: 0;
    /* height: 50%; */
  }
}

@media (max-width: 27.5em) {
  .carousel-text {
    padding: 5rem 9rem;
    font-size: 5rem;
    /* width: 100%; */
    height: 40%;
  }

  .carousel-1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border: none;
    height: 200rem;
  }
  .splide__pagination__page {
    top: -130rem;
    left: -5rem;
    height: 2rem;
    width: 3.5rem;
    border-radius: 3px;
    margin: 1rem;
    padding: 0.1rem;
  }
  .carousel-img-container {
    padding: 0;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousel-img {
    width: 85%;
  }
}
