.why-container {
  margin: 0 auto;
  margin-block: 10rem;
}

.text-content {
  max-width: 1024px;
  widthh: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-content h2 {
  color: #3f3d56;
  font-weight: 600;
  font-size: 1.8rem;
}

.text-stuff {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: #707070;
}

.content-container {
  margin-top: 5rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: 2fr 1.4fr 2fr;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grid-1 {
  position: relative;
  /* background-color: orangered; */
  display: grid;
  width: 100%;
  gap: 6rem;
}

.phoneimg {
  width: 100%;
}

.text-choose-container-1 {
  display: flex;
  gap: 1.4rem;
  /*position: absolute;*/
  left: 35rem;
  top: 6rem;
  /* background-color: grey; */
}

.container-text {
  width: 100%;
}

.container-text h3 {
  font-size: 1.4rem;
  color: #3f3d56;
  text-align: right;
  margin-bottom: 1rem;
  font-weight: 600;
}

.container-text p {
  font-size: 1rem;
  text-align: right;
  /* width: 150%; */
}

.container-img-img {
  width: 40px;
  height: auto;
}

.text-choose-container-2 {
  display: flex;
  margin-right: 40px;
  gap: 1.4rem;
  /*position: absolute;*/
  left: 33rem;
  /*top: 26rem;*/
}

.text-choose-container-3 {
  display: flex;
  gap: 1.4rem;
  /*position: absolute;*/
  left: 37rem;
  /*top: 48rem;*/
}

.grid-3 {
  position: relative;
  display: grid;
  /* background-color: orangered; */
  width: 100%;
  gap: 4rem;
}

.container-img-2 {
  width: 60px;
}

.container-img-img-2 {
  width: 40px;
  height: auto;
}

.text-choose-container-4 {
  display: flex;
  /* gap: 1.4rem; */
  /*position: absolute;*/
  left: 3rem;
  top: 6rem;
  text-align: left;
}

.container-text-2 {
  width: max-content;
}

.container-text-2 h3 {
  font-size: 1.4rem;
  color: #3f3d56;
  text-align: left;
  margin-bottom: 1rem;
  font-weight: 600;
}

.container-text-2 p {
  font-size: 1rem;
  /* text-align: right; */
  /* width: 150%; */
}

.text-choose-container-5 {
  display: flex;
  margin-left: 40px;
  /* gap: 1.4rem; */
  /*position: absolute;*/
  left: 7rem;
  top: 28rem;
  text-align: left;
}

.text-choose-container-6 {
  display: flex;
  /* gap: 1.4rem; */
  /*position: absolute;*/
  left: 7rem;
  top: 48rem;
  text-align: left;
}

/* ***************************** */
@media (max-width: 112.5em) {
  .text-choose-container-1 {
    left: 30rem;
    top: 6rem;
  }

  .text-choose-container-2 {
    left: 30rem;
    top: 26rem;
  }

  .text-choose-container-3 {
    left: 30rem;
    top: 45rem;
  }

  .text-choose-container-4 {
    left: 3rem;
    top: 6rem;
  }

  .text-choose-container-5 {
    left: 7rem;
    top: 28rem;
  }

  .text-choose-container-6 {
    left: 7rem;
    top: 48rem;
  }
}

@media (max-width: 105.625em) {
  .text-choose-container-1 {
    left: 26rem;
    top: 6rem;
  }

  .text-choose-container-2 {
    left: 25rem;
    top: 26rem;
  }

  .text-choose-container-3 {
    left: 30rem;
    top: 45rem;
  }

  .text-choose-container-4 {
    left: 3rem;
    top: 6rem;
  }

  .text-choose-container-5 {
    left: 7rem;
    top: 28rem;
  }

  .text-choose-container-6 {
    left: 7rem;
    top: 48rem;
  }
}

@media (max-width: 98.75em) {
  .text-choose-container-1 {
    left: 22rem;
    top: 6rem;
  }

  .text-choose-container-2 {
    left: 20rem;
    top: 26rem;
  }

  .text-choose-container-3 {
    left: 24rem;
    top: 45rem;
  }

  .text-choose-container-4 {
    left: 3rem;
    top: 6rem;
  }

  .text-choose-container-5 {
    left: 7rem;
    top: 28rem;
  }

  .text-choose-container-6 {
    left: 7rem;
    top: 48rem;
  }
}

@media (max-width: 94.375em) {
  .text-choose-container-1 {
    left: 22rem;
    top: 6rem;
  }

  .text-choose-container-2 {
    left: 20rem;
    top: 26rem;
  }

  .text-choose-container-3 {
    left: 20rem;
    top: 42rem;
  }

  .text-choose-container-4 {
    left: 3rem;
    top: 6rem;
  }

  .text-choose-container-5 {
    left: 7rem;
    top: 28rem;
  }

  .text-choose-container-6 {
    left: 7rem;
    top: 48rem;
  }
}

@media (max-width: 90.625em) {
  .text-choose-container-1 {
    left: 18rem;
    top: 6rem;
  }

  .text-choose-container-2 {
    left: 16rem;
    top: 24rem;
  }

  .text-choose-container-3 {
    left: 20rem;
    top: 40rem;
  }

  .text-choose-container-4 {
    left: 3rem;
    top: 6rem;
  }

  .text-choose-container-5 {
    left: 4rem;
    top: 25rem;
  }

  .text-choose-container-6 {
    left: 5rem;
    top: 41rem;
  }
}

@media (max-width: 87.5em) {
  .text-choose-container-1 {
    left: 14rem;
    top: 6rem;
  }

  .text-choose-container-2 {
    left: 13rem;
    top: 22rem;
  }

  .text-choose-container-3 {
    left: 15rem;
    top: 38rem;
  }

  .text-choose-container-4 {
    left: 3rem;
    top: 6rem;
  }

  .text-choose-container-5 {
    left: 5rem;
    top: 23rem;
  }

  .text-choose-container-6 {
    left: 5rem;
    top: 39rem;
  }
}

@media (max-width: 71.875em) {
  .text-choose-container-1 {
    left: 10rem;
    top: 6rem;
  }

  .text-choose-container-2 {
    left: 10rem;
    top: 22rem;
  }

  .text-choose-container-3 {
    left: 11rem;
    top: 38rem;
  }

  .text-choose-container-4 {
    left: 3rem;
    top: 6rem;
  }

  .text-choose-container-5 {
    left: 5rem;
    top: 23rem;
  }

  .text-choose-container-6 {
    left: 5rem;
    top: 39rem;
  }
}

@media (max-width: 60em) {
  .text-choose-container-1 {
    left: 6rem;
    top: 5rem;
  }

  .text-choose-container-2 {
    left: 5rem;
    top: 20rem;
  }

  .text-choose-container-3 {
    left: 5rem;
    top: 34rem;
  }

  .text-choose-container-4 {
    left: 3rem;
    top: 6rem;
  }

  .text-choose-container-5 {
    left: 5rem;
    top: 20rem;
  }

  .text-choose-container-6 {
    left: 5rem;
    top: 35rem;
  }
}

@media (max-width: 35.625em) {
  .content-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .grid-1 {
    /* background-color: orangered; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .grid-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    gap: 4rem;
  }
  .container-img-img {
    width: 25%;
  }

  .grid-phone {
    padding: 18rem;
  }

  .container-img-img-2 {
    width: 30%;
  }

  .container-text p {
    font-size: 2.6rem;
  }

  .container-text-2 p {
    font-size: 2.6rem;
  }

  .text-choose-container-1 {
    text-align: center;
    flex-direction: column-reverse;
    position: static;
    left: 6rem;
    top: 5rem;

    h3 {
      text-align: center;
      font-size: 1.4rem;
    }
  }

  .text-choose-container-2 {
    text-align: center;
    flex-direction: column-reverse;
    position: static;
    left: 6rem;
    top: 5rem;
  }


  .text-choose-container-3 {
    text-align: center;
    flex-direction: column-reverse;
    position: static;
    left: 6rem;
    top: 5rem;

    h3 {
      text-align: center;
      font-size: 1.4rem;
    }
  }

  .text-choose-container-4 {
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: static;
    left: 6rem;
    top: 5rem;

    h3 {
      text-align: center;
      font-size: 1.4rem;
    }
  }


  .text-choose-container-5 {
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: static;
    left: 6rem;
    top: 5rem;

    h3 {
      text-align: center;
      font-size: 1.4rem;
    }
  }


  .text-choose-container-6 {
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: static;
    left: 6rem;
    top: 5rem;

    h3 {
      text-align: center;
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 32.5em) {
  .container-img-img-2 {
    /* margin-left: 59rem; */
    width: 30%;
    text-align: center;
  }
}

@media (max-width: 27.5em) {
  .container-img-img-2 {
    /* margin-left: 50rem; */
    width: 30%;
    text-align: center;
  }
}
