.cta-btn-faq{
    /* color: #F07E61; */
    padding: 1em 3em;
    background-color: #f07e61;
    border-radius: 33px;
    text-decoration: none;
    color: #fff;
    /* margin-top: 2.3rem; */
    cursor: pointer;
}