.FaqMain-container {
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
}

.FaqMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  gap: 6rem;
  padding: 0 8rem;
  height: 100dvh;
}

.FaqMain-text-container {
  margin-top: 6rem;
}

.FaqMain-heading-primary {
  margin-bottom: 2rem;
  color: #3f3d56;
  font-size: 2rem;
  font-weight: 600;
}

.FaqMain-heading-secondary {
  margin-bottom: 7.2rem;
  color: #3f3d56;
  font-size: 1.2rem;
}

.faq-btn {
}

.FaqMain-accordian {
  /* width: 70%; */
}

@media (max-width: 27.5em) {
  .FaqMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 6rem;
    padding: 0 10rem;
    height: 100dvh;
  }
  .FaqMain-text-container {
    text-align: center;
  }

  .FaqMain-container {
    display: block;
    margin: auto;

    width: 100%;
    margin-top: 18rem;
    /* background-color: red; */
  }

  .FaqMain {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 0 2rem;
  }

  .FaqMain-heading-primary {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .FaqMain-heading-secondary {
    margin-bottom: 7.2rem;
    font-size: 3.8rem;
  }
}
