.FaqMain-container {
  display: block;
  margin: 0 auto;

  max-width: 144rem;
  margin-top: 18rem;
}

.FaqMain {
  display: flex;
  /* align-items: center; */
  gap: 6rem;
  padding: 0 14rem;
  height: 100dvh;
}

.FaqMain-text-container {
  margin-top: 6rem;
}

.FaqMain-heading-primary {
  margin-bottom: 2rem;
  color: #3f3d56;
  font-size: 5rem;
  font-weight: 600;
}

.FaqMain-heading-secondary {
  margin-bottom: 7.2rem;
  color: #3f3d56;
  font-size: 1.8rem;
}

.faq-btn {
}

.FaqMain-accordian {
  /* width: 70%; */
}

@media (max-width: 27.5em) {
  .FaqMain-container {
    display: block;
    margin: auto;

    width: 100%;
    margin-top: 18rem;
    /* background-color: red; */
  }

  .FaqMain {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 0 2rem;
  }

  .FaqMain-heading-primary {
    margin-bottom: 2rem;
    font-size: 9rem;
  }

  .FaqMain-heading-secondary {
    margin-bottom: 7.2rem;
    font-size: 3.8rem;
  }
}
