.form {
  margin-top: 3.5rem;
  margin-bottom: 29rem;
}

.text-heading {
  text-align: center;
}

.text-heading h1 {
  color: #3f3d56;
  font-size: 4rem;
  font-weight: 600;
}

.text-heading p {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  color: #707077;
  font-size: 1.8rem;
}

.icon-heading {
  max-width: 17rem;
  display: block;
  margin: 0 auto;
}

.icons {
  display: flex;
  gap: 2.8rem;
  margin-bottom: 3.5rem;
  align-items: center;
}

.contact-form {
  display: block;
  max-width: 74rem;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #fffcf6;
  padding: 4rem 4rem;
  border: 0.2px solid #707070;
  border-width: 0.2px;
}

.contact-form label {
  color: #3f3d56;
  font-size: 1.6rem;
}

.label-grid {
  display: grid;
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.name-input {
  width: 31rem;
  height: 4rem;
  border: 1px solid #3f3350;
  border-radius: 5px;
  padding: 2rem;
  font-family: inherit;
}

.name-grid {
  display: flex;
  gap: 4rem;
}

.email-input {
  width: 65rem;
  font-family: inherit;
}

.message-input {
  width: 65rem;
  height: 10rem;
  border: 1px solid #3f3350;
  border-radius: 5px;
  padding: 1.2rem 2rem;
  resize: none;
  font-family: inherit;
}

.submit-button {
  display: block;
  /* margin: 0 auto; */
  width: 65rem;
  background-color: #f07e61;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 2.6rem 1.7rem 1.7rem 2.6rem;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}

.message {
  font-size: 1.2em;
  text-align: center;
  color: #36a936;
}

@media (max-width: 53.75em) {
  .text-heading h1 {
    font-size: 5rem;
  }
  .text-heading p {
    font-size: 2.5rem;
  }
  .contact-form label {
    color: #3f3d56;
    font-size: 2rem;
  }
  .submit-button {
    font-size: 2rem;
  }
  .icon-heading {
    max-width: 20rem;
  }
}

@media (max-width: 43.125em) {
  .text-heading h1 {
    font-size: 6rem;
  }
  .text-heading p {
    font-size: 3rem;
  }
  .contact-form label {
    color: #3f3d56;
    font-size: 2.5rem;
  }
  .submit-button {
    font-size: 2.5rem;
  }

  .icon-heading {
    max-width: 24rem;
  }
}
