.form {
  margin-top: 3.5rem;
  margin-bottom: 10rem;
}


.text-heading h2 {
  color: #3f3d56;
  font-size: 2rem;
  margin-top: 3rem;
  font-weight: 600;
}

.text-heading p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #707077;
  font-size: 1.2rem;
}

.icons {
  display: flex;
  gap: 2.8rem;
  margin-bottom: 3.5rem;
  align-items: center;
  justify-content: center;

  a{
    img{
      width: 2rem;
      height: 2rem;
    }
  }
}

.contact-form {
  display: block;
  margin: 0 auto;
  background-color: #fffcf6;
  padding: 2rem 2rem;
  border-width: 0.2px;
}

.contact-form label {
  color: #3f3d56;
}

.label-grid {
  display: grid;
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.name-input {
  width: 100%;
  border: 1px solid #3f3350;
  border-radius: 5px;
  padding: 10px 1rem;
}

/*.name-grid {*/
/*  display: grid;*/
/*  grid-template-columns: 1fr 1fr;*/
/*  width: 100%;*/
/*  gap: 2rem;*/
/*}*/

.email-input {
  font-family: inherit;
}

.message-input {
  border: 1px solid #3f3350;
  border-radius: 5px;
  padding: 1.2rem 14px;
  resize: none;
  font-family: inherit;
}

.submit-button {
  display: block;
  width: 100%;
  /* margin: 0 auto; */
  background-color: #f07e61;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding-block: 1.2rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.message {
  text-align: center;
  color: #36a936;
}
