.Info-box {
  display: block;
  max-width: 144rem;
  margin: 0 auto;
}

.icon-container {
  margin-top: 13.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.icon-box {
  display: block;
  margin: 0 auto;
  border: 1px solid #f07e614d;
  border-radius: 5px;
  padding: 5rem 6rem;
}

.box-icon-info {
  padding: 4rem 1rem;
}

.icon-box img {
  display: block;
  margin: 0 auto;
}

.icon-box-heading {
  margin-top: 1.6rem;
  color: #3f3d56;
  font-size: 2rem;
  text-align: center;
}

.icon-box-p {
  margin-top: 2.3rem;
  color: #707070;
  font-size: 1.6rem;
}
