.Info-box {
  display: block;
}

.icon-box {
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ffecb3;
  border-radius: 5px;
  padding: 2rem 3rem;
}


.icon-box-p {
  margin-top: 1rem;
  color: #707070;
  font-size: 1rem;
  text-align: center;
}

.address-p {
  /* padding: 0 6rem; */
  text-align: center;
}
