@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Montserrat", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #707070;
  font-size: 2rem;
}

/* Media Queries */
@media (max-width: 71.875em) {
  html {
    font-size: 55.5%;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 53.75em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 43.125em) {
  html {
    font-size: 33%;
  }
}

@media (max-width: 35.625em) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 32.5em) {
  html {
    font-size: 25%;
  }
}
